<h1>Welcome to iTravel</h1>

<p>
    <%= link_to "Login", login_path %><br>
    <%= link_to "Sign Up", signup_path %><br>
    ToAdd : OmniAuth <%= link_to('Log in with Facebook!', '/auth/facebook') %>

    
</p>