Welcome, <%= @user.name %>, to iTravel!

<p>
TO DO : Link To All Reviews<br>
<%= link_to "See Your Trip Reviews", user_reviews_path(@user) %><br>
<%= link_to "Create New Review", new_user_review_path(@user) %>
TO DO : Link to Create New Review<br>

<%= link_to "Log Out", delete_user_session_path, method: :delete %>
</p>