Welcome, <%= @user.name %>, to iTravel!

<p>
TO DO : Link To All Reviews<br>
<%= link_to "All Reviews", user_reviews_url(@user) %><br>
<%= link_to "Create New Review", new_user_review_path(@user) %>


<%= link_to "Log Out", delete_user_session_path, method: :delete %>
</p>