Welcome, <%= @user.name %>, to iTravel!

<p>
TO DO : Link To All Reviews<br>
TO DO : Link To Your Review<br>
<%= link_to "New Review", new_user_review_path(@user) %>
TO DO : Link to Create New Review<br>

<%= link_to "Log Out", logout_path, method: :delete %>
</p>