<h1> Cities </h1>

<ol>
<%= "TODO DISPLAY CITIES ORGANIZED UNDER COUNTRIES"%><br>
<% @cities.each do |city| %>
    <%= "TODO HTML BULLET"%> - <%= link_to city.city_state_country, city_path(city) %><br>
<% end %>
</ol>