<h1> New Review </h1>
<p>
<%= render partial: 'form', locals: {user: @user, review: @review, city: @city, country: @country, button_name: "Create Review"}%>

<%= "TODO Lodging, Restaurant, Attraction" %>

</p>