<% if flash[:error] || flash[:success] || flash[:notice] || flash[:warning] %>
  <div class="errors">
    <ul>
      <% if flash[:error] %>
      <li><%= flash[:error] %></li>
      <% end %>
    </ul>
  </div>
<% end %>