<nav>
    <div>
        <%= link_to "iTravel", 'sessions#welcome' %>
        <ul>
            <li><%= link_to "Add New Review", new_user_review_path(current_user) %></li>
            <li><%= %></li>



        </ul>
    </div>
</nav>